/* Seletor Css
. para classes
# para id 
*/

* { 
    margin: 0;
    padding: 0;
   }

body {
    background-image: linear-gradient(140deg, #000000,#0F1329, #4555AF);
    background-attachment: fixed;
}

.banner-cover {
width: 350px;
height: 200px; 

}