/* => RESETANDO */
* {
  margin: 0;
  padding: 0;
}

/* => CORPO */
body {
  background-image: linear-gradient(140deg, #000000, #0f1329, #4555af);
  background-attachment: fixed;
}

/* => FOTO DE CAPA */
.banner-cover {
  margin: 0px 0px -20px 0px;
}

/* => LETRAS */
.letters {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 10px #000000;
  color: #d2ab5c;
  text-align: center;
  line-height: 1.3;
}

/* => APRESENTAÇÃO */
#initial-presentation {
  font-size: 2vw;
  margin: 0vw 0.8vw 0.8vw 0.8vw;
}

/* => FORM */
#description-btn {
  font-size: 1.7vw;
}

.seletor,
.btn,
#filter-calculation {
  font-size: 1.6vw;
}

.forms {
  display: inline-block;
}

.forms,
#filter-calculation {
  margin: 0.5vw;
}

/* => BOTÕES */
.seletor,
.btn {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0px 0px 1px #000000;
  box-shadow: 5px 5px 5px #000000;
  background-image: linear-gradient(180deg, #229bcb, rgba(11, 196, 226, 1));
  background-color: rgba(11, 196, 226, 1);
  border: 1px solid #56e9ff;
  color: #000000;
  padding: 0.3vw;
  border-radius: 7px;
}

.btn {
  font-weight: bold;
  text-align: center;
  margin: 0.5vw;
}

.seletor {
  text-align: justify;
  width: 160px;
}

#btn-return {
  position: fixed;
  bottom: 1.5%;
  right: 0.8%;
}

.botoes {
  text-align: center;
}

/* => BANNERS */
.banner {
  background: none;
  border: none;
}

.foto-banner,
.seletor,
.btn {
  cursor: pointer;
}

.banner-cover,
.foto-banner {
  width: 100%;
}

#section-with-banners,
.section-btn {
  text-align: center;
}

.foto-maior {
  display: block;
}

.fotos-menores {
  display: inline-flex;
}

/* => FOOTER */
#developers,
a:hover {
  color: #d2ab5c;
  text-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 10px #000000;
}

a {
  color: #229bcb;
}

/* => CARDS */
#section-change {
  margin: 1rem;
  text-align: center;
}

.imagem-do-card {
  width: 100%;
  height: 100%;
  border: 1px solid #d2ab5c;
  border-radius: 8px;
}

.cards {
  display: inline-block;
  text-align: center;
}

.card-in {
  display: inline-block;
  margin: 10px;
  border: 2px solid #d2ab5c;
  width: 200px;
  height: 250px;
  box-shadow: 8px 8px 8px black;
  text-shadow: 2px 2px 3px #000000, 2px 2px 3px #000000, 2px 2px 13px #000000;
  border-radius: 10px;
  cursor: pointer;
  color: #d2ab5c;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}

.cards:hover .card-in {
  transform: rotateY(180deg);
}

.card-front {
  padding: 10px;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
}

.name-do-card {
  font-size: 30px;
  margin-top: 20px;
}

.titulo-do-card {
  font-size: 20px;
  margin-top: 10px;
}

.info-do-card {
  list-style: none;
  font-size: 25px;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* => RESPONSIVIDADE MOBILE */
@media screen and (max-width: 820px) {
  /* => FOTO DE CAPA */
  .banner-cover {
    margin: 0px 0px -2px 0px;
  }

  /* => LETRAS */
  .letters {
    color: #d2ab5c;
  }

  /* => APRESENTAÇÃO */
  #initial-presentation {
    font-size: 4.5vw;
    margin: 0vw 1.5vw 1vw 1.5vw;
  }

  /* => FORM */
  #description-btn {
    font-size: 4.1vw;
  }

  .seletor,
  .btn,
  #filter-calculation {
    font-size: 3.9vw;
  }

  .forms {
    display: block;
    margin: 2.2vw;
  }

  .btn {
    margin: 0.8vw;
  }

  #filter-calculation {
    margin: 2vw 5vw -2vw 5vw;
  }

  /* => BOTÕES */
  .seletor,
  .btn {
    border: 1px solid #56e9ff;
    color: #000000;
    padding: 0.9vw;
    border-radius: 6px;
  }

  .seletor {
    width: 30vw;
  }

  #btn-return {
    bottom: 1%;
    right: 1.5%;
  }

  /* => CARDS */
  .imagem-do-card {
    width: 100%;
    height: 100%;
    border: 1px solid #d2ab5c;
    border-radius: 8px;
  }

  .cards {
    display: inline-block;
  }

  .card-in {
    display: inline-block;
    margin: 7px;
    border: 2px solid #d2ab5c;
    width: 150px;
    height: 200px;
    box-shadow: 8px 8px 8px black;
    text-shadow: 2px 2px 3px #000000, 2px 2px 3px #000000, 2px 2px 13px #000000;
    border-radius: 10px;
    cursor: pointer;
    color: #d2ab5c;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
  }

  .cards:hover .card-in {
    transform: rotateY(180deg);
  }

  .card-front {
    padding: 8px;
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
  }

  .name-do-card {
    font-size: 20px;
    margin-top: 6px;
  }

  .titulo-do-card {
    font-size: 20px;
    margin-top: 10px;
  }

  .info-do-card {
    list-style: none;
    font-size: 19px;
  }

  .card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}
